.fs {
    font-size: 16pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
    cursor: pointer;
}

.fas {
    font-size: 35pt;
    ;
}

.fas:hover {
    color: white;
}